<div class="imgMain">
  <div id="banner_backdrop">
  </div>
  <div id="banner_content">
  </diiv>
</div>

<div class="mainDiv">
  <div class="mainOptionWin">
    <div class="resBtn">
      <div class="resBtnHolder">
        <!-- <a class="waves-effect waves-light btn-large red accent-1" id="resMBtn">button</a> -->
        <button type="button" class="btn-large waves-effect  red darken-2" id="resMBtn"> Make Reservation </button>
     </div>
    </div>
    <div class="managerBtn">
      <p> Manager Sign Up or log In </p>
      <a class="waves-effect waves-light btn red lighten-2" id="btnSignUp"> Sign Up</a></button>
      <a class="waves-effect waves-light btn red lighten-2" id="btnSignIn"> Log In</a></button>
    </div>
  </div>
</div>

<div class="mainHeader"></div>
<div class="mainFooter">
  <div class="socialRef">
    <div class="footer-social-icons">
    <h4 class="socialText">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
  </div>
</div>
