<div class = "row">
  <div class="mainDiv">
    <div class="mainOptionWin">
      <form class="" action="/signup" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="validate">
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" maxlength="10" class="validate">
        </div>

        <div class="form-group">
          <label for="username">Email:</label>
          <input type="email" id="username" name="email" class="validate">
        </div>

        <div class="form-group">
          <label for="pass1">Password:</label>
          <input type="password" id="pass1" name="password" class="validate" onkeyup="checkPass(); return false;">
        </div>  

         <div class="form-group">
          <label for="pass2">Re-type Password:</label>
          <input type="password" id="pass2" class="validate" onkeyup="checkPass(); return false;">
          <span id="confirmMessage" class="confirmMessage"></span>
        </div>  

        <div class="center-align">
          <button type="submit" class="waves-effect waves-light btn-large red accent-4">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
